body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3f2e1;
    color: #333;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color:white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    max-width: 120px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #006B3C;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: yellow;
}

.login-btn {
    background-color: yellow;
    color: #007d3c;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #ffd700;
}
main {
    padding: 20px;
}

.contact-form, .contact-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #007d3c;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007d3c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #00592c;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #007d3c;
    color: #fff;
    font-size: 14px;
}
